<nav>
  <div class="nav-wrapper">
    <ul style="font-size: 1.4em">
      <li class="left" style="cursor: pointer; font-size: 1.1em;">
        <%= link_to "Home", root_path %>
      </li>
      <li class="brand-logo center">StoryTime</li>
    </ul>
  </div>
</nav>
