<h1>List of all the Stories</h1>

<% @stories.each do |story| %>
  <div class="all_overview">
    <p>
      <%= link_to story.title, story %>
      (Description: <%= story.description %> - Author: <%= story.author.name %>)
      <% story.tags.each do |tag| %>
        <div class="chip tags z-depth-2"><%= tag.name %></div>
      <% end %>
    </p>
  </div>
<% end %>
