<h4>
  <%= @story.title %>
  <%= link_to "Delete", story_path( @story ),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "btn btn-default" %>
</h4>
<%= simple_format @story.content %>

<% @story.tags.each do |tag| %>
  <div class="chip tags z-depth-2"><%= tag.name %></div>
<% end %>
